<main class='pt-4'>
  <div class='container'>
    <div class='flex flex-col lg:flex-row pb-20 items-center h-screen justify-center space-y-5'>
      <div class='max-w-lg'>
        <h1 class=' text-3xl font-semibold'>ECONOMIZE NA GESTÃO DE FRETES<h1>
        <p class=' my-3'>Cote simultaneamente com diversas transportadoras e gere envios com rastreio inteligente em uma plataforma integrada</p>
      </div>

      <div class='lg:pl-8 max-w-lg'>
        <h1 class=' text-2xl font-semibold'>Rastreio de pedidos<h1>
        <p class=' my-2'>Insira aqui o código de rastreamento do pedido ou da transportadora para localizar sua encomenda</p>
        <div>
          <%= form_with url: search_orders_path, method: :get do |f| %>
            <%= f.text_field :query, class:'rounded-xl my-3 mr-1', placeholder: 'Insira seu código' %>
            <%= f.submit 'Buscar Pedido', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl cursor-pointer' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
